BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ADMIN_CHAT_ID=YOUR_TELEGRAM_ADMIN_CHAT_ID
CHANNEL_URL=https://t.me/alibodama
YOUTUBE_URL=https://youtube.com/@alibodama
GITHUB_URL=https://github.com/Alibodama
DATABASE_PATH=support.db
